﻿<%@ Master Language="C#" Inherits="System.Web.Mvc.ViewMasterPage" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Masonite SalesPoint</title>
    <link href="<%=Url.Content("~/Content/Site.css")%>" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="<%=Url.Content("~/Content/jquery-ui-1.10.3.min.css")%>" type="text/css" />
    <link href="<%: Url.Content("~/favicon.ico") %>" rel="icon" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="<%=Url.Content("~/apple-touch-icon.png")%>" />
    <script type="text/javascript" src="<%=Url.Content("~/Scripts/Core.min.js")%>"></script>
    <script type="text/javascript" src="<%=Url.Content("~/Scripts/jquery-2.0.3.min.js")%>"></script>
    <script type="text/javascript" src="<%=Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")%>"></script>
    <script type="text/javascript" src="<%=Url.Content("~/Scripts/jquery.validate-1.11.1.min.js")%>"></script>
    <script type="text/javascript" src="<%=Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")%>"></script>
    <script type="text/javascript" src="<%=Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")%>"></script>
</head>

<body>
    <% Html.EnableClientValidation(); %>
    <div class="page">
        <div class="header">
            <div id="title" class="float-left"><a href="<%= Url.Action("Index", "Home") %>"><img src="<%=Url.Content("~/Content/Images/SalesPoint.png")%>" alt="SalesPoint" title="SalesPoint" style="height:54px;" /></a></div>
            <div id="logindisplay" class="float-right"><% Html.RenderPartial("LogOnUserControl"); %></div>
            <div class="clear"></div>
        </div>

        <div id="NavWrapper">
            <div id="Nav">
                <ul>
                    <li><%= Html.ActionLink("Home", "Index", "Home")%></li>
                        
                    <% if(Page.User.IsInRole("SalesPoint Administrators") || Page.User.IsInRole("Max Price Book Publishers")) { %>
                    <li><%= Html.ActionLink("Site Administration", "Edit", "Configuration")%></li>
                    <% } %>

                    <li><%= Html.ActionLink("Locations", "Index", "Merchant")%></li>
                    
                    <% if(Page.User.IsInRole("SalesPoint Administrators") || Page.User.IsInRole("Marketing Team")) { %>
                    <li><%= Html.ActionLink("Registrations", "Index", "Registration")%></li>
                    <% } %>

                    <% if(Page.User.IsInRole("SalesPoint Administrators") || Page.User.IsInRole("Marketing Team") || Page.User.IsInRole("Correspondence Approvers")) { %>
                    <li><%= Html.ActionLink("eBlasts & Letters", "Index", "Correspondence")%></li>
                    <% } %>

                    <li><a href="http://swvmconf1sql3/Reports/Pages/Folder.aspx?ItemPath=%2fSalesPoint%2fContacts">Reports</a></li>
                </ul>
            </div>
        </div>
        
        <div class="clear"></div>
        
        <div id="main">
            <asp:ContentPlaceHolder ID="MainContent" runat="server" />
        </div>
    </div>
</body>
</html>