﻿body
{
    font-size: .75em;
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}

a:link
{
    color: #034af3;
    text-decoration: underline;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:visited
{
    color: #034af3;
    text-decoration: underline;
}

a:active
{
    color: #034af3;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

img {
    border-style: none;
}

.no-wrap{
    white-space: nowrap;
}



/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
}
h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
    float: left;
}
h2 {
    padding: 0 10px 5px 0;
    display: inline;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}
h5, h6 {
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    margin-left: auto;
    margin-right: auto;
}

.header
{
    background-color: #000000;
    padding: 15px;
}

.header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main {
    padding: 20px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
}

#footer
{
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 5px 5px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
    border: 1px solid #666666;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 4px 4px;
}

input[type="text"] 
{
    border: 1px solid #CCC;
}

textarea
{
    border: 1px solid #CCC;
    font-family: Tahoma, Verdana, Helvetica, Sans-Serif;
    font-size: 1em;
}

.Text75
{
    width: 75px;
}

.Text100 {
    width: 100px;
}

.Text200
{
    width: 200px;
}

.Text250
{
    width: 250px;
}

.Text300
{
    width: 300px;
}

#CancelButton {
    margin-right: 150px;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #BDCEDF;
  border-collapse: collapse;
}

table td
{
    padding: 5px;
    border-bottom: solid 1px #BDCEDF;
}

table th
{
    white-space: nowrap;
    padding: 6px 5px;
    text-align: left;
}

.cellalignmiddle
{
    text-align: center;
    width: 30px; 
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

.gridicon
{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.pointer
{
    cursor: pointer;
}

.recordcount
{
    text-align: right;
    font-weight: bold;
}

.required
{
    color: #FF0000;
}

#menucontainer
{
    margin-top:20px;
    margin-bottom: 1px;
}

div#title
{
    display:block;
    text-align:left;
}

#logindisplay
{
    color: #FFFFFF;
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 5px;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.alignment-fix .editor-label-left,
.alignment-fix .editor-field,
.alignment-fix .extra-top-buffer
{
    margin: 0;
    height: 25px;
}

.alignment-fix .ui-widget-header
{
    margin-bottom: 5px;
}

.editor-label-left
{
    margin: 0.5em 0;
    width: 12em;
    float: left;
    clear: both;
}

.extra-top-buffer
{
    margin-top: 12px;
}

.editor-label-left-sm
{
    margin: 0.5em 0;
    width: 8em;
    float: left;
    clear: both;
}

.editor-label-left-lg
{
    margin: 0.5em 0;
    width: 16em;
    float: left;
    clear: both;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.merchant-edit
{
	width:700px;
	border-style:none;
}
.merchant-edit tr td
{
    border-style:none;
}

.merchant-options 
{
	border-style:none;
}
.merchant-options tr td
{
    border-style:none;
}

.moreoptions 
{
	display:none;
}

.lowesglass 
{
    display:none;
}

.homedepotglass 
{
    display:none;
}

/* Tags */
.TagLeft
{
    padding: 7px 0px 0px 0px;
    background-image: url('../Content/Images/TagLeft.png');
    background-repeat: no-repeat;
    height: 29px;
    width: 9px;
    display: inline-block;
}

.TagCenter
{
    padding: 7px 4px 0px 0px;
    background-image: url('../Content/Images/TagMiddle.png');
    background-repeat: repeat-x;
    color: #003366;
    height: 29px;
    display: inline-block;
}

.TagRight
{
    padding: 7px 0px 0px 0px;
    background-image: url('../Content/Images/TagRight.png');
    background-repeat: no-repeat;
    height: 29px;
    width: 17px;
    display: inline-block;
}

.TagWrapper
{
    white-space: nowrap;
}

.TagDelete
{
    padding: 7px 0px 0px 0px;
    background-image: url('../Content/Images/TagDelete.png');
    background-repeat: no-repeat;
    height: 29px;
    width: 13px;
    display: inline-block;
}

.TagDeleteHover
{
    padding: 7px 0px 0px 0px;
    background-image: url('../Content/Images/TagDeleteHover.png');
    background-repeat: no-repeat;
    height: 29px;
    width: 13px;
    display: inline-block;
    cursor: pointer;
}

.TextRed
{
    color: #FF0000;
}

.TextGreen
{
    color: #008000;
}

#NavWrapper {
    padding-left: 15px;
	background: #2a2a2a;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#555), to(#2a2a2a));
	background: -webkit-linear-gradient(top, #555, #2a2a2a);
	background: -moz-linear-gradient(top, #555, #2a2a2a);
	background: -o-linear-gradient(top, #555, #2a2a2a);
	background: -ms-linear-gradient(top, #555, #2a2a2a);
	background: linear-gradient(top, #555, #2a2a2a);
}

#Nav {
	position:relative;
	display:block;
	height:43px;
}

#Nav ul{
	margin:0;
	padding:0;
	list-style-type:none;
	width:auto;}

#Nav ul li {
	float:left;
	margin:0 1px 0 0;
}

#Nav ul li a {
	display:block;
	float:left;
	color:#FFFFFF;
	text-decoration:none;
	padding:15px 12px 0 12px;
	height:26px;
	font-size:11px;
	font-weight:bold;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	text-transform:uppercase;
}

#Nav ul li a:hover, #Nav ul li a.current {
	color:#7CA93E;
	font-size:11px;
	font-weight:bold;
	font-family:Arial,Verdana,Helvitica,sans-serif;
	text-transform:uppercase;
}

.min-height-15 {
    height: 15px;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.no-border {
    border: none;
}

.padding-five {
    padding: 5px;
}

#MerchantName {
    color: #7CA93E;
    font-weight: bold;
    font-size: 1.2em;
}

.break {
    clear: both;
	height: 10px;
}

#ActiveTabContent {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 15px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

ul#LeftMenu {
    font-size: 1.1em;
    margin: 0;
    padding: 0;
}

ul#LeftMenu li {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}

ul#LeftMenu li a {
    background: none;
    color: #AEC3CE;
    text-decoration: none;
    margin-left: 5px;
}

ul#LeftMenu li a:hover {
    color: #F3F7F8;
    text-decoration: none;
}

#column-left {
    float: left;
    position: relative;
    min-width: 210px;
    min-height: 400px;
    z-index: 10;
    background-color: #323232;
    margin-right: 15px;
    
    padding-bottom: 20px;
}

#column-left ul li div {
	padding-left: 5px;  
}

#column-right {
    min-height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 5;
}

.underline {
    text-decoration: underline;
}

#TwoColumnWrapper {
}

#searchName {
    font-size: 1.2em;
    padding: 4px;
}

.align-top {
    vertical-align: top;
}


/* Bootstrap-py classes */
.label-default {
    background-color: #999999;
}

.label-success {
    background-color: #5cb85c;
}

.label-info {
    background-color: #5bc0de;
}

.label {
    border-radius: 0.25em;
    color: #FFFFFF;
    display: inline;
    font-weight: 700;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.radio, .checkbox {
    display: block;
    padding-left: 20px;
}

.radio label, .checkbox label {
    cursor: pointer;
    display: inline;
    font-weight: 400;
}

label {
    display: inline-block;
    font-weight: 700;
    margin-bottom: 5px;
}